name: Build Sphinx docs

on:
  push:
    branches: ["main"]

jobs:
  build-docs:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install sphinx sphinx-autodoc-typehints

      - name: Build HTML documentation with Sphinx
        run: |
          sphinx-build -b html docs docs/_build/html

      - name: Upload documentation artifact
        uses: actions/upload-artifact@v4
        with:
          name: html-docs
          path: docs/_build/html
